 marquee{
  color: white;
  font-style: italic;
  font-size: 50px;
  background-color:transparent;
}
 body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(90deg,pink,blue,green);
}
.container{
  background: linear-gradient(90deg,lightblue,pink,lightgreen);
}
.card-body{
  background: linear-gradient(90deg,pink,lightblue,lightgreen);
}
.hero {
 background-color:lightskyblue;
 padding: 60px 0;
 text-align: center;
}
.hero h1 {
 font-size: 3rem;
}
    .card img {
      height: 200px;
      object-fit: cover;
    }
    footer {
      background-color: #0d6efd;
      color: white;
      padding: 20px;
      text-align: center;
    }